{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "strict": 0
  },
  "extends": [
    // "airbnb",
    // "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "plugin:react/recommended"
  ]
}
