.heading {
  margin: 0;
  font-weight: normal;
  line-height: 1;
}

.mainHeading {
  margin-block-start: 0.4rem;
  margin-block-end: 1rem;
}

.innerAsk {
  padding: 4rem 0;
}

.what p {
  max-width: 52ch;
}

@media (min-width: 789px) {
  .askBody {
    display: flex;
    justify-content: space-between;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
}
