.slow {
  animation: moveSlow 4s infinite ease-in-out;
}

.slow.s6 {
  animation-duration: 6.6s;
}

.slow.s3 {
  animation-duration: 3.6s;
}

@keyframes moveSlow {
  0% {
    transform: translateY(-10%);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10%);
  }
}